.toDo {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  height: 70%;
  margin-top: 2%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toDoContent {
  width: 100%;
  height: 90%;
  background-color: rgb(234, 219, 200);
  opacity: 60%;
  border-radius: 10px;
  overflow-y: auto;
  font-family: "Raleway", sans-serif;
  padding-top: 3%;
  word-wrap: break-word;
  color: rgb(15, 44, 89);
  margin-top: 3%;
}
span {
  display: flex;
  justify-content: end;
  margin-right: 2vw;
  color: rgb(15, 44, 89);
  font-weight: bolder;
}
.text {
  display: flex;
  margin-bottom: 3%;
  align-items: center;
  min-height: 4vh;
}
i {
  margin-right: 2%;
}

.switchButton {
  background-color: rgb(15, 44, 89);
  border: none;
  border-radius: 10px;
  margin-top: 3%;
  color: rgba(255, 255, 255, 0.726);
  padding: 2%;
}
.sortButton {
  background-color: rgb(231, 177, 10);
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.726);
}
.deleteButton {
  opacity: 0;
  border: none;
  background-color: transparent;
  color: rgb(205, 24, 24);
  font-size: 1vw;
}
.text:hover .deleteButton {
  opacity: 1;
}

.divSwitch {
  width: 20%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .toDoContent,
  .deleteButton {
    font-size: 0.85rem;
  }
  .divSwitch {
    width: 25%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .toDoContent,
  .deleteButton {
    font-size: 0.85rem;
  }
  .divSwitch {
    width: 25%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .toDoContent {
    font-size: 1.5rem;
  }
  .text {
    height: 2vh;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .toDo {
    height: 75%;
  }
  .toDoContent {
    height: 95%;
    font-size: 1rem;
  }
  .text {
    height: 5vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .toDo {
    height: 82%;
  }
  .toDoContent {
    height: 95%;
    font-size: 0.85vw;
  }
  .text {
    height: 3vh;
  }
}
